<phpunit bootstrap="./Bootstrap.php">
    <testsuite name="EveLib Tests">
        <directory>./</directory>
    </testsuite>
    <groups>
        <exclude>
            <group>disable</group>
        </exclude>
    </groups>
  <php>
    <const name="PHP_CODECOVERAGE_TESTSUITE" value="true"/>
  </php>
  <logging>
    <log type="coverage-html" target="build/coverage" title="EveLib Coverage"
         charset="UTF-8" yui="true" highlight="true"
         lowUpperBound="35" highLowerBound="70"/>
    <log type="testdox-text" target="build/testdox.txt"/>
    <log type="testdox-html" target="build/testdox.html"/>
  </logging>
    <filter addUncoveredFilesFromWhitelist="true">
        <whitelist>
            <directory suffix=".php">../library/</directory>
        </whitelist>
    </filter>
</phpunit>
